.card{
    width: 14rem;
    height: 25rem;
}

.card-img{
    background-color: #000;
    width: 100%;
    height: 20rem;
}

.card-title{
    font-size: 0.8rem;
}

.card-price{
    color: #00a951;
    font-size: 0.9rem;
    font-weight: 400;
}

.card{
    transition: 0.28s ease-in-out;
}
.card:hover{
    transform: scale(1.1);
    cursor: pointer;

}

.card-img-subtitle{
    width: 100%;
    height: 5rem;
    padding-left: 1rem;
    padding-top: 1rem;
    box-sizing: border-box;
}