.best-selers{
    width: 100%;
    height: 36rem;
    align-items: center;
}

.conteiner{
    width: 100%;
    gap: 2rem;
    height: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000;
}

.bestSellers-info-area{
    margin-left: 2rem;
    height: 100%;
    width: 19rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.bestSellers-title{
    color: #4c4c4c;
    font-size: 1.7rem;
}

.bestSellers-subtitle{
    color: #00a951;
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.list{
    display: flex;
    flex-direction: row;
    gap:2rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}