@import "../../styles/colors.css";

.product-name-review{
    margin-top: 3rem;
    width: 80%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.breadcrumbs span{
    color: var(--theme-color-green);
}

.product{
    margin-top: 3rem;
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: row;
}

.product-logo-area{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-main-img{
    background-color: #000;
    width: 90%;
    height: 25rem;
}

.roller-imgs-area{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bt-rollers{
    display: none;
}

.img-conteiner-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.img-item{
    background-color: #000;
    width: 4rem;
    height: 5rem;
}



.product-info-area{
    margin-left: 3rem;
    height: 100%;
}

.price-rate{
    width: 13rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.price-rate .price{
    font-size: 1.5rem;
    color: var(--theme-color-green);
}

.product-decription{
    font-size: 0.8rem;
}

.selection-type-product{
    width: 33rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.select-size,.select-color-area{
    border: none;
    width: 14rem;
    height: 2.5rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 0.9rem;
}

.select-color-area{
    justify-content: space-between;
}
.select-color{
    border: none;
    width: 2rem;
    height: 2rem;
}
.select-color:hover, .select-size:hover{
    cursor: pointer;
}

.product-quanties{
    display: flex;
    flex-direction: row;
    width: 10rem;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
}
.product-quanties .bt{
    border: none;
    width: 2.5rem;
    height: 2rem;
    font-size: 1.5rem;
}

.product-quanties .bt:hover{
    cursor: pointer;
    background-color: var(--theme-color-green);
    color: #fff;
}

.bt-area{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 18rem;
    height: 2.5rem;
    justify-content: space-between;
    align-items: center;
}
.bt-area .bt-product{
    border: none;
    background-color: #fff;
    align-items: center;
    text-align: center;
    width: 2rem;
    height: 2.5rem;
}
.bt-area .bt-product:hover{
    cursor: pointer;
    scale: calc(1.1);
}
.bt-product.add-to-cart{
    width: 10rem;
    background-color: var(--theme-color-green);
    color: #fff;
}






.description{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    justify-content: space-around;
    margin: 3rem 0rem 5rem;
}


.desc-title-area{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 2.5rem;
    gap: 1rem;
    text-align: center;
    font-weight: 600;
    align-items: center;
}

.desc-title-area .bt{
    display: flex;
    width: 9rem;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.desc-title-area .bt:hover{
    cursor: pointer;
    background-color: var(--theme-color-green);
}

.review-area{
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.reviews{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.reviews-title{
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
}
.review-item{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: max-content;
    gap: 1rem;
}

.img-review{
    width: 7rem;
    height: 7rem;
    background-color: #000;
}
.review-item-desc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.rate-date-conteiner{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.rate-date-conteiner .date{
    font-style: italic;
    color: var(--theme-color-gray);
}

.add-review{
    display: flex;
    flex-direction: column;
}

.add-review-title{
    font-size: 1rem;
}
.add-review-input-area{
    display: flex;
    flex-direction: row;
    width: 25rem;
    height: 2rem;
    margin-left: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.add-review-input-area .inp{
    border: none;
    background-color: #fff;
}
.add-review-input-area :focus{
    outline: 1px solid #b1b1b1;
}

.add-rating-review-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.add-rating-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.add-rating-area{
width:40rem;
}
.rating-ul{
    display: flex;
    flex-direction: row;
    width: 25rem;
}
.rating-ul li{
    color: var(--theme-color-yellow);
    list-style: none;
    font-size: 1.1rem;
}
.rating-ul li:hover{
  cursor: pointer;
}
.add-review-text{
    width: 100%;
    height: 10rem;
    border: none;
    margin-bottom: 2rem;
    position: relative;
}
.add-review-text::placeholder{
    position: absolute;
}

.add-review-text:focus{
    outline: 1px solid #b1b1b1;
      
}
.add-review-submit{
    width: 6rem;
    height: 2rem;
    background-color: var(--theme-color-green);
    border: none;
    color: #fff;
}

.add-review-submit:hover{
  cursor: pointer;
  scale: calc(1.1);
}




.related-products{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30rem;
    margin-bottom: 4rem;
}

.related-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 1rem 1rem;
    align-items: center;
}

.left-right-arrows{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.left-right-arrows .bt-roll{
    border: none;
    width: 2rem;
    height: 1.5rem;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.left-right-arrows .bt-roll:hover{
    cursor: pointer;
    color: #fff;
    background-color: var(--theme-color-green);
}

.related-products-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}