@import '../../../styles/colors.css';

.listFull-item{
    width: 100%;
    height: max-content;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    padding: 1rem 0rem 1rem 0;
    
}

.item-title:hover{
    cursor: pointer;
    text-decoration: underline;
}

.subs-item{
    width: 80%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.item-img{
    background-color: #000;
    width: 12rem;
    height: auto;
}
.item-img:hover{
    cursor: pointer;
    scale: calc(1.1);
}

.item-title{
    font-size: 1.2rem;
}

.item-price{
    color: var(--theme-color-green);
    font-size: 0.9rem;
    font-weight: 400;
}

.item{
    transition: 0.2.5s ease-in-out;
}
.item:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.desc-item{
    width: 85%;
}

.tag{
    color: var(--theme-color-gray);
}

.fullitem-bt-area{
    margin-top: 1rem;
    width: 15rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.bt-Fullitem{
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    border: none;
}
.bt-Fullitem:hover{
    cursor: pointer;
    background-color: var(--theme-color-green);
    color: #fff;
}
.bt-Fullitem.add-cart{
    width: 8rem;
}

